*{
	margin: 0;
	padding: 0;
}

#header {
	height: 44px;
	background-color: #0088D1;
	text-align: center;
	border: none;
	border-bottom: 1px solid #0088D1;
	color: white;
}

#agents {
	width: 40%;
	float: left;
}

#agents .agentsrow {
	height: 50px;
}

#agents .agentsrow .agent {
	height: 80%;
	width: 30%;
	margin: 10px;
}

#agents .agentsrow .pause {
	height: 80%;
	width: 30%;
	margin: 10px;
}

#works {
	width: 40%;
	float: left;
}

#works .worksrow {
	height: 50px;
}

#works .worksrow .work {
	height: 80%;
	width: 30%;
	margin: 10px;
}

#footer {
	height: 49px;
	width: 100%;
	background-color: #0088D1;
	border: none;
	border-top: 1px solid #0088D1;
	position: fixed;
	bottom: 0;
}

#footer #footer_buttons {
	height: 80%;
	width: 80%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}

#footer #footer_buttons button {
	height: 100%;
	width: 40%;
	margin-left: 10px;
}
