*{
	margin: 0;
	padding: 0;
}
#header{
	height: 44px;
	background-color: #0088D1;
	text-align: center;
	border: none;
	border-bottom: 1px solid #0088D1;
	color: white;
}

#panel1 textarea{
	display: block;
	margin: 10px 10px;
}
#panel1 button{
	display: block;
	width: 100px;
	height: 35px;
	margin: 10px 10px;
}


#panel2{
	display: none;
}

#panel2 textarea{
	margin: 10px 10px;
}

#footer {
	height:49px;
	width: 100%;
	background-color: #0088D1;
	border: none;
	border-top: 1px solid #0088D1;
	position:fixed;
	bottom:0
}

#footer button{
	width: 47%;
	height: 90%;
	border: none;
	margin-top: 3px;
	margin-left: 5px;
	background-color: transparent;
	color: white;
	font-weight: bold;
	font-size: 16px;
}

#footer .pressed {
	background-color: #00AEEF;
}
